<!DOCTYPE html>

<html>
    <head>
        <title>Cabinas Beach Paradise</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="../static/css/menu.css" type="text/css">

    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="#home" class="logo nav-link">Cabinas Beach Paradise</a>
                <ul>
                    

                    <li><a href="promociones.html">Promociones</a></li>
                    <li><a href="cabinas.html">Cabinas</a></li>
                    <li><a href="galeria.html">Galería</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="iniciarsesion.html">Iniciar Sesión</a></li>
                    <li><a href="registrarse.html">Registrarse</a></li>

                </ul> 
            </nav>

        </header>
        <section class="fondo">
            <img src="images/fondo.png" alt="">
            <div class="noticias-1">
                <h2>¡De la patria por nuestra voluntad!</h2>
                <p>
                    Vení a celebrar esta anexión de Guanacaste, 
                    acompañado de una de las mejores playas y preciosos paisajes.
                    <img src="images/anuncio1.png" alt=""> 
                </p>
            </div>
            <a href="promociones.html" class="boton-promo">Ver Promoción</a> 
        </section>

        <footer id="piePagina">Derechos reservados &COPY; 2023 <address> Tibás,  Colima</address><address>Tel: 800055-5055</address></footer>>


    </body>
</html>
