<!DOCTYPE html>
<html>
    <head>
        <title>Cabinas Beach Paradise</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/menu.css" rel="stylesheet" type="text/css"/>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> <!-- para iconos -->
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="#home" class="logo nav-link">Cabinas Beach Paradise</a>
                <ul>
                    
                    <li><a href="promociones.html">Promociones</a></li>
                    <li><a href="cabinas.html">Cabinas</a></li>
                    <li><a href="galeria.html">Galería</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="iniciarsesion.html">Iniciar Sesión</a></li>
                    <li><a href="registrarse.html">Registrarse</a></li>

                </ul> 
            </nav>

        </header>
        
        <footer> 
            <div class="pie-Pagina">
                <h3>Contáctanos</h3>
                <ul class="sociales"> 
                    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
                    
                </ul>
            </div>
            <div class="footer-copyright">
                <p> Copyright @ 2023 Grupo. All Rights Reserved </p>
            </div>
        </footer>

    </body>
</html>

